/* HeroesComponent's private CSS styles */

.modal{position: absolute; top: 160px; left: 45%;}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.dynamic {
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.dynamic li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.dynamic li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.dynamic li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.dynamic .text {
  position: relative;
  top: -3px;
}
.dynamic .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.dynamic a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.dynamic a:hover {
  color:#607D8B;
}
